/**
 *
 * @LightTip.css
 * @author xinxuzhang
 * @create 15-06-25
 * @edit   17-06-19
 * @edit   19-09-13 @ziven27 [去jQuery]
 * @edit   20-05-19 @popeyesailorman [add custom element support]
**/
/*
 * 结构如下：
 * <ui-lighttip></ui-lighttip>
 *
*/
/* lighttip基础变量 */
:root {
    /* --ui-lighttip-width: 1.5rem; */
}

ui-lighttip {
    display: flex;
    justify-content: center;
    /* width: var(--ui-lighttip-width); */
    font-size: 14px;
    text-align: left;
    line-height: 0.2rem;
    color: var(--ui-white, #ffffff);
    background-color: var(--ui-dark, #4c5161);
    border-radius: calc(var(--ui-radius, 4px) - 2px);
    padding: 16px 24px;
    position: fixed;
    top: calc(var(--ui-sort-index, 0) * 60px + 1.4rem);
    left: 50%;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
    z-index: 19;
    outline: none;
    cursor: default;
    transition: top var(--ui-animate-time, .2s);
    animation: fadeIn .25s both;
    color: #000;
    border-radius: 34px;
    text-wrap: nowrap;
}
ui-lighttip:not([open]) {
    display: none;
}

ui-lighttip[type="success"] {
    background-color: #FFF;
}
ui-lighttip[type="error"] {
    background-color: #FFF;
}
ui-lighttip[type="success"]::before,
ui-lighttip[type="error"]::before
{
    content: '';
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cpath fill='%23FFF' d='M163.038 57.226c-5.217-4.162-5.713-4.289-11.674-7.244-2.683-1.344-6.633 2.113-8.569 4.67l-52.648 67.042-34.301-43.387c-1.94-2.558-5.516-3.499-8.2-2.293-6.11 3.095-5.496 2.992-10.715 7.029-2.386 1.883-2.535 5.245-.597 7.793 0 0 36.97 46.917 41.44 52.565 6.557 8.068 18.483 7.669 24.744 0 4.62-5.781 61.117-78.506 61.117-78.506 1.937-2.559 1.788-5.918-.597-7.669z'/%3E%3C/svg%3E") no-repeat;
    background-size: contain;
    transform: translate(-5px, 0px);
}
ui-lighttip[type="success"]::before {
    background-image: url('/assets/img/success.svg')
}
ui-lighttip[type="error"]::before {
    background-image: url('/assets/img/error.svg')
}

/* 移动端居中呈现  */
@media (max-width: 640px) {
    ui-lighttip {
        width: auto;
        padding-left: 1rem; padding-right: 1rem;
        max-width: calc(100% - 2rem - 2em);
    }
}
@media (prefers-reduced-motion: reduce) {
    ui-lighttip {
        animation: none;
    }
}